<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>
<div class="border border-dark">
<div class="container-fluid" id="t">
  <div class="row">

        <div class="inline-block-table">
          <div th:each="classHero : ${id}">

          <br>
            <t>Иконка -</t>
            <img th:if="${classHero.energising.energisingImage}"
                 th:src="'/images/energising/' + ${classHero.energising.energisingImage.id}">
            <t th:text="${classHero.name}"></t>
            <p if:th="${classHero.energising}" th:text="'имя синергии: ' +${classHero.energising.name}"></p>
            <p if:th="${classHero.energising}" th:text="'подробней о синергии: ' +${classHero.energising.full_text}"></p>

          </div>
        </div>


      </div>
    </main>
  </div>
</div>
  <footer th:insert="blocks/headerFooter/footer :: footer"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>


</body>
</html>