<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>

<div class="container-fluid" id="t">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             th:insert="blocks/menuRightAdmin ::div"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="border border-dark" id="pading">

                <div class="inline-block-table" display="flex">

                    <table class="table table-borderless" style="width:19%;table-layout:fixed">
                        <thead>
                        <tr>
                            <th colspan="5" style="width:19%">1$Фигуры
                            </th>
                        </tr>
                        </thead>

                        <tbody th:each="hero1 : ${displayHeroTir1}">


                        <tr>
                            <td><img th:src="'/images/hero/' + ${hero1.iconHero}">
                                <a th:href="'/admin/edit/hero/' +${hero1.hero.id}">
                                    Изменить</a></td>

                            <td><a th:href="'/admin/detals/hero/' +${hero1.hero.id}" class="link-secondary">
                                <t th:text="${hero1.hero.nameHero}"></t>
                            </a><a th:href="'/admin/delete/hero/' + ${hero1.hero.id}">Удалить</a></td>

                            <th><img th:if="${hero1.iconClassHero}" th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px"></th>

                            <th><img th:if="${hero1.iconClassHero1}" th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">

                            </th>
                            <th><img th:if="${hero1.iconClassHero2}" th:src="'/images/class/' + ${hero1.iconClassHero2}" alt="" height="20px">

                            </th>
                        </tr>

                        </tbody>

                    </table>


                </div>


                    <div class="inline-block-table" display="flex">

                        <table class="table table-borderless" style="width:19%;table-layout:fixed">
                            <thead>
                            <tr>
                                <th colspan="5" style="width:19%">2$Фигуры
                                </th>
                            </tr>
                            </thead>

                            <tbody th:each="hero1 : ${displayHeroTir2}">


                            <tr>
                                <td><img th:if="${hero1.iconHero}" th:src="'/images/hero/' + ${hero1.iconHero}">
                                    <a th:href="'/admin/edit/hero/' +${hero1.hero.id}">
                                        Изменить</a></td>

                                <td><a th:href="'/admin/detals/hero/' +${hero1.hero.id}" class="link-secondary">
                                    <t th:text="${hero1.hero.nameHero}"></t>
                                </a><a th:href="'/admin/delete/hero/' + ${hero1.hero.id}">Удалить</a></td>

                                <th><img th:if="${hero1.iconClassHero}"  th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px"></th>

                                <th><img th:if="${hero1.iconClassHero1}" th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">

                                </th>
                                <th><img th:if="${hero1.iconClassHero2}" th:src="'/images/class/' + ${hero1.iconClassHero2}" alt="" height="20px">


                                </th>
                            </tr>

                            </tbody>

                        </table>


                    </div>


                        <div class="inline-block-table" display="flex">

                            <table class="table table-borderless" style="width:19%;table-layout:fixed">
                                <thead>
                                <tr>
                                    <th colspan="5" style="width:19%">3$Фигуры
                                    </th>
                                </tr>
                                </thead>

                                <tbody th:each="hero1 : ${displayHeroTir3}">


                                <tr>
                                    <td><img th:if="${hero1.iconHero}" th:src="'/images/hero/' + ${hero1.iconHero}">
                                        <a th:href="'/admin/edit/hero/' +${hero1.hero.id}">
                                            Изменить</a></td>

                                    <td><a th:href="'/admin/detals/hero/' +${hero1.hero.id}" class="link-secondary">
                                        <t th:text="${hero1.hero.nameHero}"></t>
                                    </a><a th:href="'/admin/delete/hero/' + ${hero1.hero.id}">Удалить</a></td>

                                    <th><img th:if="${hero1.iconClassHero}"  th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px"></th>

                                    <th><img th:if="${hero1.iconClassHero1}" th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">

                                    </th>
                                    <th><img th:if="${hero1.iconClassHero2}" th:src="'/images/class/' + ${hero1.iconClassHero2}"  height="20px" width="20px">

                                    </th>
                                </tr>

                                </tbody>

                            </table>


                        </div>


                            <div class="inline-block-table" display="flex">

                                <table class="table table-borderless" style="width:19%;table-layout:fixed">
                                    <thead>
                                    <tr>
                                        <th colspan="5" style="width:19%">4$Фигуры
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody th:each="hero1 : ${displayHeroTir4}">


                                    <tr>
                                        <td><img th:if="${hero1.iconHero}" th:src="'/images/hero/' + ${hero1.iconHero}">
                                            <a th:href="'/admin/edit/hero/' +${hero1.hero.id}">
                                                Изменить</a></td>

                                        <td><a th:href="'/admin/detals/hero/' +${hero1.hero.id}" class="link-secondary">
                                            <t th:text="${hero1.hero.nameHero}"></t>
                                        </a><a th:href="'/admin/delete/hero/' + ${hero1.hero.id}">Удалить</a></td>

                                        <th><img th:if="${hero1.iconClassHero}" th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px"></th>

                                        <th><img th:if="${hero1.iconClassHero1}" th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">

                                        </th>
                                        <th><img th:if="${hero1.iconClassHero2}" th:src="'/images/class/' + ${hero1.iconClassHero2}" alt="" height="20px" width="20px">

                                        </th>
                                    </tr>

                                    </tbody>

                                </table>


                            </div>


                                <div class="inline-block-table" display="flex">

                                    <table class="table table-borderless" style="width:19%;table-layout:fixed">
                                        <thead>
                                        <tr>
                                            <th colspan="5" style="width:19%">5$Фигуры
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody th:each="hero1 : ${displayHeroTir5}">


                                        <tr>
                                            <td><img th:if="${hero1.iconHero}" th:src="'/images/hero/' + ${hero1.iconHero}">
                                                <a th:href="'/admin/edit/hero/' +${hero1.hero.id}">
                                                    Изменить</a></td>

                                            <td><a th:href="'/admin/detals/hero/' +${hero1.hero.id}" class="link-secondary">
                                                <t th:text="${hero1.hero.nameHero}"></t>
                                            </a><a th:href="'/admin/delete/hero/' + ${hero1.hero.id}">Удалить</a></td>

                                            <th><img th:if="${hero1.iconClassHero}" th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px"></th>

                                            <th><img th:if="${hero1.iconClassHero1}" th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">

                                            </th>
                                            <th><img th:if="${hero1.iconClassHero2}" th:src="'/images/class/' + ${hero1.iconClassHero2}" height="20px" width="20px">

                                            </th>
                                        </tr>

                                        </tbody>

                                    </table>


                                </div>


                                    <div class="inline-block-table" display="flex">

                                        <table class="table table-borderless" style="width:19%;table-layout:fixed">
                                            <thead>
                                            <tr>
                                                <th colspan="5" style="width:19%">Измените тир
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody th:each="hero1 : ${displayHeroTir6}">


                                            <tr>
                                                <td><img th:if="${hero1.iconHero}" th:src="'/images/hero/' + ${hero1.iconHero}">
                                                    <a th:href="'/admin/edit/hero/' +${hero1.hero.id}">
                                                        Изменить</a></td>

                                                <td><a th:href="'/admin/detals/hero/' +${hero1.hero.id}" class="link-secondary">
                                                    <t th:text="${hero1.hero.nameHero}"></t>
                                                </a><a th:href="'/admin/delete/hero/' + ${hero1.hero.id}">Удалить</a></td>

                                                <th><img th:if="${hero1.iconClassHero}"  th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px"></th>

                                                <th><img th:if="${hero1.iconClassHero1}" th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">

                                                </th>
                                                <th><img th:if="${hero1.iconClassHero2}" th:src="'/images/class/' + ${hero1.iconClassHero2}" alt="" height="20px" width="20px">

                                                </th>
                                            </tr>

                                            </tbody>

                                        </table>


                                    </div>

            </div>
        </main>
    <footer th:insert="blocks/headerFooter/footer :: footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    </div>
</div>
</body>
</html>