<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>

<div class="container-fluid" id="t">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             th:insert="blocks/menuRightAdmin ::div"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="centr-1400px fon-1400px">
                <div class="grid" th:each="detals : ${energising}">


                    <div class="inline-px">
                        <div th:if="${detals}">
                            <div>
                                <div>
                                    <img th:if="${detals.energisingImage}" th:src="'/images/energising/' + ${detals.energisingImage.get(0).id}">
                                    <t th:text="${detals.name}"></t>

                                </div>
                                <hr>
                                <div>
                                    <p th:text="${detals.tip}"></p>
                                    <p th:text="${detals.ItWorks}"></p>
                                    <p th:text="${detals.buff}"></p>
                                    <p th:text="${detals.descriptionKlass}"></p>
                                    <p th:text="${detals.descriptionBuff}"></p>
                                    <p th:text="${detals.buffOne}"></p>
                                    <p th:text="${detals.buffTwo}"></p>
                                    <p th:text="${detals.buffThere}"></p>
                                    <t><a th:href="'/admin/delete/energising/' + ${en.id}">Удалить</a></t>
                                    <t><a th:href="'/admin/edit/energising/' + ${en.id}">Изменит</a></t>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
        </main>
    </div>
    <footer th:insert="blocks/headerFooter/footer :: div"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</div>

</body>
</html>