<html>
<div th:fragment="header">
    <header>
        <link th:href="@{/css/fon.css}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
              crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
              crossorigin="anonymous">
        <link th:href="@{/css/css.css}" rel="stylesheet">

        <div  class="nav justify-content-center" id="blokc">
        



            <div class="btn-group" >
                
                    <button type="button" class="badge rounded-pill bg-secondary" id="autoches"><a href="/home" style="color: #f2bf0b;">AuthoChes</a></button>
                

            </div>
            <div class="btn-group">
                <button type="button" id="autoches" class="badge rounded-pill bg-secondary"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">База знаний
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/home/display/hero">Герои</a></li>
                    <li><a class="dropdown-item" href="/home/display/items">Предметы</a></li>
                    <li><a class="dropdown-item" href="/home/display/skill">Скилы</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/home/display/guide">Гайды</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" id="autoches" class="badge rounded-pill bg-secondary"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">Правилы игры
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/home/display/whatgame">Механика игры</a></li>

                </ul>
            </div>

            <div class="btn-group">
                <button type="button" id="autoches" class="badge rounded-pill bg-secondary"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">Новости
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/home/display/path">Патч Игры</a></li>
                    <li><a class="dropdown-item" href="/home/display/updateweb">Обновление сайта</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" id="autoches"class="badge rounded-pill bg-secondary"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">Расы и класы
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/home/display/ras">Расы</a></li>
                    <li><a class="dropdown-item" href="/home/display/class">Классы</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/home/display/energising">Синергии</a></li>
                </ul>

            </div>

        </div>

    </header>
</div>
</html>