<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">

  <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>


  <div class="row">
    <nav class="col-md-2 sidebar-nav"
         th:insert="blocks/menuRightAdmin ::div"></nav>

    <div class="col-md-10 fon-1400px pd-50">

        <div class="inline-block-table">
          <table class="table table-borderless">
            <thead>
            <tr>
              <th colspan="4">Расы
              </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="rasHero : ${ras}">


              <td><img th:if="${rasHero.energising.energisingImage}" th:src="'/images/energising/' + ${rasHero.energising.energisingImage.get(0).id}"></td>

              <td><a th:href="'/admin/detals/ras/' +${rasHero.id}"  class="link-secondary">
                <t th:text="${rasHero.name}"></t>
              </a></td>

              <td><a th:href="'/admin/delete/ras/' + ${rasHero.id}">Удалить</a><br>
                <a th:href="'/admin/edit/ras/' + ${rasHero.id}">Изменит</a></td>

            </tr>


            </tbody>
          </table>
        </div>


      </div>

  </div>
  <footer th:insert="blocks/headerFooter/footer :: div"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>


</body>
</html>