<html>
<input type="hidden" id="__yoroi_connector_api_injected_type" value="prod" ><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>


</head>
<body>
<header th:insert="blocks/headerFooter/header :: header">

</header>
<div class="fon-1400px container">
    <h2>У вас нет прав доступа до данной дерриктории, выберете другой раздел или свяжитесь с админом сайта что бы вам расширили права.</h2>
</div>
<footer th:insert="blocks/headerFooter/footer :: div"></footer>
</body></html>