<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>
<div class="centr-1400px fon-1400px">






                <table class="px-274 grid">
                    <thead>
                    <tr>
                        <th class="h4">T1 Предмет
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr>
                        <td class="tb-padding">
                            <div th:each="items : ${displayItemsTir1}" class="list-inline-item1">
                                <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/images/items/' + ${items.icon.id}" height="40px" width="50px"></li>
                                <li class="list-inline-item bk"><a th:href="'/home/detals/items/' +${items.id}" class="nav-link px-2 text-yellow tir1">
                                    <t th:text="${items.name}"></t></a></li>
                                <li th:if="${items.weapons1}" class="list-inline-item bk"><img th:if="${items.weapons1.icon}"
                                                                                                th:src="'/images/items/' + ${items.weapons1.icon.id}"
                                                                                                height="30px" width="30px"></li>
                                <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons2.icon}"
                                                                                                 th:src="'/images/items/' + ${items.weapons2.icon.id}"
                                                                                                 height="30px" width="30px"></li>
                                <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons3.icon}"
                                                                                                 th:src="'/images/items/' + ${items.weapons3.icon.id}"
                                                                                                 height="30px" width="30px"></li>


                            </div>
                        </td>
                    </tr>

                    </tbody>

                </table>






            <table class="px-274 grid">
                <thead>
                <tr>
                    <th>T2 Предмет
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="tb-padding">
                        <div th:each="items : ${displayItemsTir2}" class="list-inline-item1">
                            <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/images/items/' + ${items.icon.id}" height="40px" width="50px"></li>
                            <li class="list-inline-item bk"><a th:href="'/home/detals/items/' +${items.id}" class="nav-link px-2 text-yellow tir2">
                                <t th:text="${items.name}"></t></a></li>
                            <li th:if="${items.weapons1}" class="list-inline-item bk"><img th:if="${items.weapons1.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons1.icon.id}"
                                                                                           height="30px" width="30px"></li>
                            <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons2.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons2.icon.id}"
                                                                                           height="30px" width="30px"></li>
                            <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons3.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons3.icon.id}"
                                                                                           height="30px" width="30px"></li>


                        </div>
                    </td>
                </tr>

                </tbody>

            </table>



            <table class="px-274 grid">
                <thead>
                <tr>
                    <th>T3 Предмет
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="tb-padding">
                        <div th:each="items : ${displayItemsTir3}" class="list-inline-item1">
                            <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/images/items/' + ${items.icon.id}" height="40px" width="50px"></li>
                            <li class="list-inline-item bk"><a th:href="'/home/detals/items/' +${items.id}" class="nav-link px-2 text-yellow tir3">
                                <t th:text="${items.name}"></t></a></li>
                            <li th:if="${items.weapons1}" class="list-inline-item bk"><img th:if="${items.weapons1.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons1.icon.id}"
                                                                                           height="30px" width="30px"></li>
                            <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons2.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons2.icon.id}"
                                                                                           height="30px" width="30px"></li>
                            <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons3.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons3.icon.id}"
                                                                                           height="30px" width="30px"></li>


                        </div>
                    </td>
                </tr>

                </tbody>

            </table>




            <table class="px-274 grid">
                <thead>
                <tr>
                    <th>T4 Предмет
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="tb-padding">
                        <div th:each="items : ${displayItemsTir4}" class="list-inline-item1">
                            <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/images/items/' + ${items.icon.id}" height="40px" width="50px"></li>
                            <li class="list-inline-item bk"><a th:href="'/home/detals/items/' +${items.id}" class="nav-link px-2 text-yellow tir4">
                                <t th:text="${items.name}"></t></a></li>
                            <li th:if="${items.weapons1}" class="list-inline-item bk"><img th:if="${items.weapons1.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons1.icon.id}"
                                                                                           height="30px" width="30px"></li>
                            <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons2.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons2.icon.id}"
                                                                                           height="30px" width="30px"></li>
                            <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons3.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons3.icon.id}"
                                                                                           height="30px" width="30px"></li>


                        </div>
                    </td>
                </tr>

                </tbody>

            </table>



            <table class="px-274 grid">
                <thead>
                <tr>
                    <th>T5 Предмет
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="tb-padding">
                        <div th:each="items : ${displayItemsTir5}" class="list-inline-item1">
                            <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/images/items/' + ${items.icon.id}" height="40px" width="50px"></li>
                            <li class="list-inline-item bk"><a th:href="'/home/detals/items/' +${items.id}" class="nav-link px-2 text-yellow tir5">
                                <t th:text="${items.name}"></t></a></li>
                            <li th:if="${items.weapons1}" class="list-inline-item bk"><img th:if="${items.weapons1.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons1.icon.id}"
                                                                                           height="30px" width="30px"></li>
                            <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons2.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons2.icon.id}"
                                                                                           height="30px" width="30px"></li>
                            <li th:if="${items.weapons3}" class="list-inline-item bk"><img th:if="${items.weapons3.icon}"
                                                                                           th:src="'/images/items/' + ${items.weapons3.icon.id}"
                                                                                           height="30px" width="30px"></li>


                        </div>
                    </td>
                </tr>

                </tbody>

            </table>



            </table>



</div>
<footer th:insert="blocks/headerFooter/footer :: div"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>