<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Предметы</title>
    <link th:insert="blocks/headerFooter/logo :: link"/>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>
<div class="row fon-1400px">
    <div class="col-md-12">

        <div class="grid">

            <div th:each="items : ${displayItemsTir1}" class="list-inline-item1">
                <li class="list-inline-item bk btn none" tabindex="0" data-bs-toggle="popover" data-bs-placement="auto"  data-bs-trigger="focus"  th:data-bs-content-id="examplePopover +${items.id}"><img th:if="${items.icon.length() > 0}" th:src="'/img/' + ${items.icon}"
                                                 height="37.5px" width="50px"></li>

                <div class="modal fade " th:id="examplePopover +${items.id}" tabindex="-1" aria-hidden="true">
                 <div th:insert="menu/button2/user/items/detalsItems :: div"></div></div>
                 <li class="list-inline-item bk tir1">
                <t th:text="${items.name}"></t>
                </li>


            </div>
        </div>




    <div class="grid">

        <div th:each="items : ${displayItemsTir2}" class="list-inline-item1">
            <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/img/' + ${items.icon}"
                                                 height="37.5px" width="50px"></li>
            <li class="list-inline-item bk tir2">
                <t th:text="${items.name}"></t>
            </li>

        </div>
    </div>


    <div class="grid">
        <div th:each="items : ${displayItemsTir3}" class="list-inline-item1">
            <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/img/' + ${items.icon}"
                                                 height="37.5px" width="50px"></li>
            <li class="list-inline-item bk tir3">
                <t th:text="${items.name}"></t>
            </li>

        </div>

    </div>


    <div class="grid">

        <div th:each="items : ${displayItemsTir4}" class="list-inline-item1">
            <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/img/' + ${items.icon}"
                                                 height="37.5px" width="50px"></li>
            <li class="list-inline-item bk tir4">
                <t th:text="${items.name}"></t>
           </li>

        </div>
    </div>


    <div class="grid">

        <div th:each="items : ${displayItemsTir5}" class="list-inline-item1">
            <li class="list-inline-item bk"><img th:if="${items.icon}" th:src="'/img/' + ${items.icon}"
                                                 height="37.5px" width="50px"></li>
            <li class="list-inline-item bk tir5">
                <t th:text="${items.name}"></t></li>

        </div>
    </div>


</div>

</div>
<footer th:insert="blocks/headerFooter/footer :: div"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    const exampleEl = document.getElementById('example')
    const list = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    list.map((el) => {
        let opts = {
            animation: false,
        }
        if (el.hasAttribute('data-bs-content-id')) {
            opts.content = document.getElementById(el.getAttribute('data-bs-content-id')).innerHTML;
            opts.html = true;
        }
        new bootstrap.Popover(el, opts);
    })
</script>



</body>
</html>