<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">

  <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>

<div class="container-fluid" id="t">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
         th:insert="blocks/menuRightAdmin ::div"></nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="centr-1400px fon-1400px">

        <div class="inline-block-table">
          <table class="table table-borderless">
            <thead>
            <tr>
              <th colspan="4">Гайды
              </th>
            </tr>
            </thead>

            <tbody>
            <tr>


              <td th:each="imageList :${guide.imageGuides}"><img th:if="${imageList.id}" th:src="'/images/guide/' + ${imageList.id}"></td>




              <td>
                <t th:text="${guide.full_text}"></t>
              </td>
              <td>
                <t th:text="${guide.full_text2}"></t>
                <a th:href="${guide.href1}"><t th:text="${guide.nameHref1}"></t></a>
                <a th:href="${guide.href2}"><t th:text="${guide.nameHref2}"></t></a>
                <a th:href="${guide.href3}"><t th:text="${guide.nameHref3}"></t></a>
              </td>
              <td><a th:href="'/admin/delete/guide/' + ${guide.id}">Удалить</a><br>
                <a th:href="'/admin/edit/guide/' + ${guide.id}">Изменит</a></td>

            </tr>


            </tbody>
          </table>
        </div>


      </div>
    </main>
  </div>
  <footer th:insert="blocks/headerFooter/footer :: div"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
</div>

</body>
</html>