<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">

  <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>


  <div class="row">
    <nav class="col-md-2 sidebar-nav"
         th:insert="blocks/menuRightAdmin ::div"></nav>

    <div class="col-md-10 fon-1400px">
      <h2>Стратегии игры:</h2>
      <div class="row">

        <div class="col-md-4" th:each="guide : ${guide}">

          <ul class="inline-px">
            <li><a th:href="'/admin/detals/guide/' +${guide.id}"  class="link-secondary"><img th:if="${guide.id}" th:src="'/img/' + ${guide.filName1}" width="60px" height="auto"></a></li>

            <li>
              <t th:text="${guide.name}"></t></li>

            <li class="wrapper"><p class="demo-1" th:text="${guide.full_text}"></p></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <footer th:insert="blocks/headerFooter/footer :: div"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>


</body>
</html>