
.badge.rounded-pill.bg-secondary{
    background-image: url("/image/djaga2.png");
    object-fit: contain;
    background-size: auto;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #f2bf0b;
}
.secondary{
    background-image: url("/image/djaga2.png");
    object-fit: contain;
    background-size: auto;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #f2bf0b;
    width:100%;
    height: 100%;
}

.link-dark{
    color: rgb(255, 255, 255);
    
}
.link-dark2{
    color: rgb(255, 255, 255);
    }
.link-dark2::first-letter{
    color: red;
}

h3::first-letter{
    color: rgb(255, 0, 0);
    font-weight: 900;
}
.t1{
    background-color: black;
    border-radius: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.featured-article__tag__count{
    color: red;
}



header{
    background-color: black;
}

#blokc{
   object-position: center;
   margin-left: auto;
   margin-top: auto;
}

logoimage{
    width: 85px;
    height: 240px;
}


.hrefA{
    margin: 0px;
    padding: 0px;
}

#pading{
    
    padding: 20px;
    padding-bottom: 150px;
    border: none;
    
}



table{border-collapse:collapse;
table-layout: auto;}
tr,td{border:1px solid #aaa;}
th{width: 20%;}

.container{
    background-color: aliceblue;
}
footer{
    clear:both;
}
#float{
    float: left;
}
body{
    padding-top: 0px;
}


#autoches{
  border: 0;  
  width: 100%;
  border-radius: 0;
  color: #f2bf0b;
}
.btn.btn-dark{
    padding-left: 0px;
    padding-right: 0px;
}


.btn-group{
    width: 200px;
    height: 70px;
    
}
.dropdown-menu{
    padding-left: 0px;
    padding-right: 0px;
}
table{
display: inline-block
}
.inline-block-table{
    position: relative;
    display: inline-block;
    width: 300px;
    
}
.table-borderless{
    border-collapse: collapse;
}

td {
    border: none;
}
.badge.rounded-pill.bg-secondary{
    width: 40%;
    padding: 20px;
    margin: 10px;
}
table tr td.td2:last-child {
    word-break: break-word;
}

tb{
    padding: 4px;
}


