.fon{
    background-image: url("/image/fon4.jpg");
    object-fit: contain;
     background-size: no-repeat;
     background-attachment: fixed;
     background-position: 50% 15%;
     width: 100%;
}


header{
    background-color: black;
}

#blokc{
   
   margin-left: 15%;
   margin-right: 15%;
}

logoimage{
    width: 85px;
    height: 240px;
}


.hrefA{
    margin: 0px;
    padding: 0px;
}

#pading{
    background-color: whitesmoke;
    padding: 20px;
    padding-bottom: 150px;
    
    
}



table{border-collapse:collapse;
table-layout: fixed;}
tr,td{border:1px solid #aaa;}
td,th{text-align:center;padding:5px 100px;}

.container{
    background-color: aliceblue;
}
footer{
    clear:both;
}
#float{
    float: left;
}
body{
    padding-top: 0px;
}


#autoches{
  border: 0;  
  width: 100%;
  border-radius: 0;
}
.btn.btn-dark{
    padding-left: 0px;
    padding-right: 0px;
}

.btn-group{
    margin-top: 20px;
    width: 20%;
}
.dropdown-menu{
    padding-left: 0px;
    padding-right: 0px;
}
table{
display: inline-block
}
.inline-block-table{
    width: 18%;
    display: inline-block;
}
.table-borderless{
    border-collapse: collapse;
}

td {
    border: none;
}
.badge.rounded-pill.bg-secondary{
    width: 40%;
    padding: 20px;
    margin: 10px;
}




