<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>
<div class="border border-dark">
<div class="container-fluid" id="t">
    <div class="row">


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">




                    <div th:each="en : ${energising}">

                        <br>
                        <t>Иконка -</t>
                        <img th:if="${en.energisingImage}" th:src="'/images/energising/' + ${en.energisingImage.id}">
                        <t th:if="en" th:text="${en.name}"></t>
                        <p if:th="${en}" th:text="'подробней: ' +${en.full_text}"></p>


                    </div>



        </main>
    </div>
</div>
</div>
    <footer th:insert="blocks/headerFooter/footer :: footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


</body>
</html>