<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link th:insert="blocks/headerFooter/logo :: link"/>
    <title> о Гайде</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>
<div class="centr-1400px fon-1400px">

                <h2>Гайды:</h2><br>

                <div><img th:if="${guide.filName1 != null}"
                          th:src="'/img/' + ${guide.filName1}">
                    <t2 th:text="${guide.name}" class="h2"></t2>
                </div>
                <div>
                    <h2>Состоит из синергий</h2>
                    <table class="notLine">
                        <tbody>
                        <tr>
                            <th th:if="${guide.energising}" class="centr"><a class="link-success"
                                                                             th:if="${image.size() >=1}"
                                                                             th:href="'/home/detals/energising/' + ${image.get(0).id}">
                                <t th:text="${guide.energising}" ></t>
                            </a></th>
                            <th th:if="${guide.energising1}" class="centr"><a class="link-success"
                                                                              th:if="${image.size() >=2}"
                                                                              th:href="'/home/detals/energising/' + ${image.get(1).id}">
                                <t th:text="${guide.energising1}" ></t>
                            </a></th>
                            <th th:if="${guide.energising2}" class="centr"><a class="link-success"
                                                                              th:if="${image.size() >=3}"
                                                                              th:href="'/home/detals/energising/' + ${image.get(2).id}">
                                <t th:text="${guide.energising2}" ></t>
                            </a></th>
                            <th th:if="${guide.energising3}" class="centr"><a class="link-success"
                                                                              th:if="${image.size() >=4}"
                                                                              th:href="'/home/detals/energising/' + ${image.get(3).id}">
                                <t th:text="${guide.energising3}" ></t>
                            </a></th>
                            <th th:if="${guide.energising4}" class="centr"><a class="link-success"
                                                                              th:if="${image.size() >=5}"
                                                                              th:href="'/home/detals/energising/' + ${image.get(4).id}">
                                <t th:text="${guide.energising4}" ></t>
                            </a></th>
                        </tr>

                        <tr>
                            <th><img th:if="${image.size() >=1}"
                                     th:src="'/images/energising/' + ${image.get(0).energisingImage.get(0).id}"></th>
                            <th><img th:if="${image.size() >=2}"
                                     th:src="'/images/energising/' + ${image.get(1).energisingImage.get(0).id}"></th>
                            <th><img th:if="${image.size() >=3}"
                                     th:src="'/images/energising/' + ${image.get(2).energisingImage.get(0).id}"></th>
                            <th><img th:if="${image.size() >=4}"
                                     th:src="'/images/energising/' + ${image.get(3).energisingImage.get(0).id}"></th>
                            <th><img th:if="${image.size() >=5}"
                                     th:src="'/images/energising/' + ${image.get(4).energisingImage.get(0).id}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <p th:text="${guide.full_text}"></p>
                </div>

                <div>
                    <h2 th:text="${guide.h2}"></h2>
                    <p th:text="${guide.full_text2}"></p>
                    <img th:if="${guide.filName2!= null && guide.filName2.length() > 0}"
                         th:src="'/img/' + ${guide.filName2}">
                    <img th:if="${guide.filName3 != null && guide.filName3.length() > 0}"
                         th:src="'/img/' + ${guide.filName3}">
                </div>
                <div>
                    <h2 th:text="${guide.h3}"></h2>
                    <p th:text="${guide.full_text3}"></p>
                    <img th:if="${guide.filName4 != null && guide.filName4.length() > 0}"
                         th:src="'/img/' + ${guide.filName4}">
                    <img th:if="${guide.filName5 != null && guide.filName5.length() > 0}"
                         th:src="'/img/' + ${guide.filName5}">
                </div>
                <div>
                    <h2 th:text="${guide.h4}"></h2>
                    <p th:text="${guide.full_text4}"></p>
                    <img th:if="${guide.filName6 != null && guide.filName6.length() > 0}"
                         th:src="'/img/' + ${guide.filName6}">
                    <img th:if="${guide.filName7 != null && guide.filName7.length() > 0}"
                         th:src="'/img/' + ${guide.filName7}">
                </div>


                <div>
                <a th:href="${guide.href1}">
                    <t th:text="${guide.nameHref1}"></t>
                </a></div>

                <div>
                    <a th:href="${guide.href2}">
                        <t th:text="${guide.nameHref2}"></t>
                    </a></div>
                <div>
                    <a th:href="${guide.href3}">
                        <t th:text="${guide.nameHref3}"></t>
                    </a></div>
                <div>
                    <a th:href="${guide.href4}">
                        <t th:text="${guide.nameHref4}"></t>
                    </a></div>
                <div>
                    <a th:href="${guide.href5}">
                        <t th:text="${guide.nameHref5}"></t>
                    </a></div>
</div>


    <footer th:insert="blocks/headerFooter/footer :: div"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</div>
</body>
</html>