<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <link th:insert="blocks/headerFooter/logo :: link"/>
  <title>Гайды</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>
<div class="centr-1400px fon-1400px">
      <h2>Гайды:</h2>

        <div class="grid px-600" th:each="guide : ${guide}">

            <ul>
              <li><img th:if="${guide.id}" th:src="'/images/guide/' + ${guide.id}"></li>

              <li><a th:href="'/home/detals/guide/' +${guide.guide.id}"  class="link-secondary">
                <t th:text="${guide.guide.name}"></t></a></li>

              <li><t th:text="${guide.guide.full_text}"></t></li>
            </ul>
        </div>


  </div>

  <footer th:insert="blocks/headerFooter/footer :: div"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>


</body>
</html>