
    <div class="btn-group">
        <a href="/home" id="autoches">
        <button  type="button" id="autoches" class="btn btn-dark">AuthoChes</button>
    </a>
        
    </div>
    <div class="btn-group" >
        <button type="button" id="autoches" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">База знаний</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/hero">Герои</a></li>
            <li><a class="dropdown-item" href="/home/weapon">Предметы</a></li>
            <li><a class="dropdown-item" href="/home/skill">Скилы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/home/gaid">Гайды</a></li>
        </ul>
    </div>
    <div class="btn-group" >
        <button type="button" id="autoches" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Правилы игры</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/whatgame">Как искать игру</a></li>
            <li><a class="dropdown-item" href="/home/round">Действия по раундам</a></li>
            <li><a class="dropdown-item" href="/home/position">растановка</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" id="autoches" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Новости</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/path">Патч Игры</a></li>
            <li><a class="dropdown-item" href="/home/updateweb">Обновление сайта</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" id="autoches" class="btn btn-dark dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">Расы и класы</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/ras">Расы</a></li>
            <li><a class="dropdown-item" href="/home/classhero">Классы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/home/synergy">Синергии</a></li>
        </ul>

    </div>

