

  <div class="position-sticky pt-3 sidebar-sticky">
    <hr>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/">

          Главная админ
        </a>
      </li>

      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/add/hero">

          Добавить героя
        </a>
      </li>

      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" aria-current="page" href="/admin/add/guide">
          Добавить гайд
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/add/skill">
          Добавить скилл
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/add/items">
          Добавить предмет
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/add/ras">
          Добавить расу
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/add/class">
          Добавить класс
        </a>
      </li>


    <li class="nav-item">
      <a class="sidebar-nav-link btn btn-dark" href="/admin/add/energising">
        Добавить синргию
      </a>
    </li>

      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/add/path">
          Добавить патч
        </a>
      </li>
    </ul>

    <hr>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/display/hero">
          Герои
        </a>
      </li>

      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/display/guide">
          Гайды
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/display/skill">
          Риликвии
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/display/items">
          Предметы
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/display/ras">
         Расы
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/display/class">
         Классы
        </a>
      </li>

      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/display/energising">
          Синергии
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark " href="/admin/display/path">
          Патчи
        </a>
      </li>

      <li class="nav-item">
        <a class="sidebar-nav-link btn btn-dark" href="/admin/users">список пользователей</a>
      </li>

      <li>
        <a  href="/logout" class="sidebar-nav-link btn btn-dark">

          logout
        </a>
      </li>
    </ul>
    <hr>
  </div>

