<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Изминить предмет</title>
    <link th:insert="blocks/headerFooter/logo :: link"/>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>


<div class="row">
    <nav class="col-md-2 sidebar-nav"
         th:insert="blocks/menuRightAdmin ::div"></nav>

    <div class="col-md-10 fon-1400px pd-50">


        <div class="grid" th:if="${detals}">

            <div class="inline-600px">

                <h2>Подробней о предмете:</h2>
                <hr>

                <div>
                    <div>
                        <li class="list-inline-item"><img th:if="${detals.icon}"
                                                          th:src="'/img/' + ${detals.icon}"
                                                          height="40px" width="50px"></li>
                        <t class="h2" th:text="${detals.name}"></t>
                    </div>
                    <br>
                    <hr>

                    <hr>
                    <p>
                        <t class="padding-text" th:if="${detals.passiveSkill}"
                           th:text="${detals.passiveSkill}"></t>
                    </p>

                    <p>
                        <t class="padding-text blue">Активная способность:</t>
                        <t class="padding-text" th:if="${detals.activeSkill}"
                           th:text="${detals.activeSkill}"></t>
                    </p>


                    <p>
                        <t class="padding-text" th:if="${detals.rangeAttack}"
                           th:text="${detals.rangeAttack}"></t>
                    </p>


                    <p th:if="${detals.kd}">
                        <img th:src="@{/image/Background.png}" height="20px" width="20px">
                        <t class="padding-text" th:text="${detals.kd}"></t>
                    </p>
                    <p>
                        <t><a class="nav-link px-2 text-yellow"
                              th:href="'/admin/delete/items/' + ${detals.id}">Удалить</a></t>
                        <t><a class="nav-link px-2 text-yellow"
                              th:href="'/admin/edit/items/' + ${detals.id}">Изменит</a></t>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:insert="blocks/headerFooter/footer :: div"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>