<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>
<div class="border border-dark">
<div class="container-fluid" id="t">
    <div class="row">


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


                <div class="inline-block-table">

                    <h2>Подробней о герои</h2>

                    <div th:if="${detals}">
                        <div th:if="${detals.imageHero}">
                            <img  th:src="'/images/hero/' + ${detals.imageHero.id}">
                            <t th:text="${detals.nameHero}"></t>
                            <t th:text="${detals.tirHero}"></t>
                            <p th:text="${detals.full_text}"></p>
                        </div>
                        <div th:if="${detals.energising}">
                            <img th:src="'/images/energising/' + ${detals.energising.energisingImage.id}" height="20px" width="20px">
                            <a th:href="'/home/detals/energising/' +${detals.energising.id}"> <t th:text="${detals.energising.name}"></t></a>
                            <p th:text="${detals.energising.full_text}"></p>
                        </div>

                        <div th:if="${detals.energising1}">
                            <img th:src="'/images/energising/' + ${detals.energising1.energisingImage.id}" height="20px" width="20px">
                            <a th:href="'/home/detals/energising/' +${detals.energising1.id}"> <t th:text="${detals.energising1.name}"></t></a>
                            <p th:text="${detals.energising1.full_text}"></p>
                        </div>

                        <div th:if="${detals.energising2}">
                            <img th:src="'/images/energising/' + ${detals.energising2.energisingImage.id}" height="20px" width="20px">
                            <a th:href="'/home/detals/energising/' +${detals.energising2.id}"> <t th:text="${detals.energising2.name}"></t></a>
                            <p th:text="${detals.energising2.full_text}"></p>
                        </div>

                    </div>


                </div>

        </main>
    </div>
    <footer th:insert="blocks/headerFooter/footer :: footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</div>
</div>
</body>
</html>