<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Главня</title>
</head>

<body>
<header th:insert="blocks/headerFooter/header :: header"></header>
<div class="border border-dark" id="pading">

    <div class="container-fluid" id="t">

            <div id="blokc">
                <div class="top" th:insert="blocks/menuTop :: div"></div>

                <div class="inline-block-table">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th colspan="3">1$Фигуры
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="hero1 : ${displayHeroTir1}">


                            <td><img th:src="'/images/hero/' + ${hero1.iconHero}"></td>
                            <td><a th:href="'/home/display/hero/' +${hero1.hero.id}" class="link-secondary">
                                <t th:text="${hero1.hero.nameHero}"></t>
                            </a></td>

                            <td>
                                <img th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px">


                                <img th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">


                                <img th:src="'/images/class/' + ${hero1.iconClassHero2}" alt="" height="20px" width="20px"
                                     onerror="this.style.visibility = 'hidden'"></td>

                        </tr>


                        </tbody>
                    </table>
                </div>

                <div class="inline-block-table">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th colspan="3">2$Фигуры
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="hero1 : ${displayHeroTir2}">


                            <td><img th:src="'/images/hero/' + ${hero1.iconHero}"></td>

                            <td><a th:href="'/home/display/hero/' +${hero1.hero.id}" class="link-secondary">
                                <t th:text="${hero1.hero.nameHero}"></t>
                            </a></td>

                            <td>
                                <img th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px">


                                <img th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">


                                <img th:src="'/images/class/' + ${hero1.iconClassHero2}" alt="" height="20px" width="20px"
                                     onerror="this.style.visibility = 'hidden'"></td>

                        </tr>


                        </tbody>
                    </table>
                </div>
                <div class="inline-block-table">

                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th colspan="3">3$Фигуры
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="hero1 : ${displayHeroTir3}">


                            <td><img th:src="'/images/hero/' + ${hero1.iconHero}"></td>
                            <td><a th:href="'/home/display/hero/' +${hero1.hero.id}" class="link-secondary">
                                <t th:text="${hero1.hero.nameHero}"></t>
                            </a></td>

                            <td>
                                <img th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px">


                                <img th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">


                                <img th:src="'/images/class/' + ${hero1.iconClassHero2}" alt="" height="20px" width="20px"
                                     onerror="this.style.visibility = 'hidden'"></td>

                        </tr>


                        </tbody>
                    </table>
                </div>

                <div class="inline-block-table">

                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th colspan="3">4$Фигуры
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="hero1 : ${displayHeroTir4}">


                            <td><img th:src="'/images/hero/' + ${hero1.iconHero}"></td>
                            <td><a th:href="'/home/display/hero/' +${hero1.hero.id}" class="link-secondary">
                                <t th:text="${hero1.hero.nameHero}"></t>
                            </a></td>

                            <td>
                                <img th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px">


                                <img th:src="'/images/class' + ${hero1.iconClassHero1}" height="20px" width="20px">


                                <img th:src="'/images/class' + ${hero1.iconClassHero2}" alt="" height="20px" width="20px"
                                     onerror="this.style.visibility = 'hidden'"></td>

                        </tr>


                        </tbody>
                    </table>
                </div>
                <div class="inline-block-table">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th colspan="3">5$Фигуры
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="hero1 : ${displayHeroTir5}">


                            <td><img th:src="'/images/hero/' + ${hero1.iconHero}"></td>
                            <td><a th:href="'/home/display/hero/' +${hero1.hero.id}" class="link-secondary">
                                <t th:text="${hero1.hero.nameHero}"></t>
                            </a></td>

                            <td>
                                <img th:src="'/images/ras/' + ${hero1.iconClassHero}" height="20px" width="20px">


                                <img th:src="'/images/class/' + ${hero1.iconClassHero1}" height="20px" width="20px">


                                <img th:src="'/images/class/' + ${hero1.iconClassHero2}" alt="" height="20px" width="20px"
                                     onerror="this.style.visibility = 'hidden'"></td>

                        </tr>


                        </tbody>
                    </table>

                </div>


            </div>

    </div>
</div>
<footer th:insert="blocks/headerFooter/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</div>

</body>
</html>